section.carte {
  min-height: 75vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 5rem;
  z-index: 1;

  > .map {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;

    > img {
      position: absolute;
      top: 0;
      left: 0;
    }

    > .content {
      max-width: 51rem;

      h2,
      p {
        text-align: center;
      }
    }

    > .ingredients {
      > ul {
        display: flex;
        flex-wrap: wrap;
        position: relative;
        top: 15rem;

        li {
          position: relative;

          &.beurre {
            left: -10rem;
          }
        }
      }

      li {
        list-style-type: none;
        text-align: center;

        &.beurre {
          svg {
            width: 12rem;
          }
        }

        &.sel {
          svg {
            width: 13rem;
          }
        }

        &.oeufs {
          svg {
            width: 10rem;
          }
        }

        &.farine {
          svg {
            width: 9rem;
          }
        }

        &.chocolat {
          position: absolute;
          bottom: 0;
          right: 0;

          svg {
            width: 13rem;
          }
        }

        h3 {
          margin-bottom: 0.5rem;
          font-size: 1.8rem;
          color: $marron;
        }

        p {
          margin-top: -1rem;
        }
      }
    }
  }
}
