section.informations {
  margin-top: 23rem;
  text-align: center;

  > ul {
    display: flex;
    justify-content: space-around;
    margin-top: 8rem;

    > li {
      list-style: none;

      &.address {
        svg {
          width: 5.5rem;
        }
      }

      svg {
        width: 7rem;
        margin-bottom: 1.6rem;
      }

      p {
        padding-top: 0.6rem;
        font-size: 1.6rem;
        line-height: 2.4rem;
        font-weight: bold;
      }
    }
  }

  img.map {
    width: 100%;
    margin-top: 11rem;
  }
}
