section.introduction {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-top: 11.7rem;
  z-index: 10;

  > img {
    width: 56rem;
    min-width: 56rem;
    height: 88rem;
  }

  > .right {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-direction: column;

    > .content {
      max-width: 70%;
      margin-right: auto;
      margin-left: 11vw;
      text-align: center;
    }

    > img {
      max-width: 38.2rem;
      max-height: 48.7rem;
      position: relative;
      top: 4rem;
      object-fit: cover;
    }
  }
}
