@font-face {
  font-family: "bodoni_italic";
  src: url("../../assets/fonts/bodoni-72/bodoni-book-italic.woff2")
      format("woff2"),
    url("../../assets/fonts/bodoni-72/bodoni-book-italic.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "poppins_regular";
  src: url("../../assets/fonts/poppins/poppins-regular-webfont.woff2")
      format("woff2"),
    url("../../assets/fonts/poppins/poppins-regular-webfont.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
}
