header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 3.7rem;

  @media screen and (max-width: $break-header) {
    padding-top: 3rem;
  }

  @media screen and (max-width: $break-medium) {
    padding-top: 1.5rem;
  }

  @media screen and (max-width: $break-tablet) {
    padding-top: 1rem;
  }

  > .social-links {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 10000;

    > a {
      $sizes: 3.3rem;
      width: $sizes;
      min-width: $sizes;
      height: $sizes;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: $sizes;
      background-color: $marron;
      transition: all 0.3s ease-in-out;

      &:not(:first-child) {
        margin-left: 1.5rem;
      }

      &:hover {
        background-color: $marronFonce;
        transition: all 0.3s ease-in-out;
      }

      svg {
        width: 50%;
        height: 100%;

        &[title^="facebook-"] {
          width: 25%;
        }

        .cls-1 {
          fill: #fff;
          stroke: #fff;
          stroke-width: 0;
        }
      }
    }
  }
}
