$mainFont: "poppins", sans-serif;
$secondaryFont: "bodoni", sans-serif;

$marronFonce: #441815;
$marron: #622b24;
$marronClair: #704a45;
$roseClair: #faf2f0;

$break-header: 1350px;
$break-large: 1220px;
$break-medium: 1024px;
$break-tablet: 768px;
$break-small: 425px;
$break-mini: 375px;
