@import "fonts";
@import "vars";
@import "header";
@import "hero";

html {
  font-size: 10px;

  @media screen and (max-width: $break-large) {
    font-size: 9px;
  }

  @media screen and (max-width: $break-medium) {
    font-size: 8px;
  }
}

body {
  min-width: 100vw;
  min-height: 100vh;
  position: relative;
  margin: 0;
  padding: 3.7rem 10rem 6rem 10rem;
  background-color: #fff;
  font-family: $mainFont;

  &:before {
    content: "";
    width: 100%;
    height: 20%;
    position: absolute;
    top: 0;
    right: 0;
    background-image: url("../../assets/img/ellipse.png");
    background-position: top right;
    background-repeat: no-repeat;
    background-size: 34rem;
    z-index: 1;
  }

  > header,
  > section,
  > footer {
    position: relative;
  }

  > header {
    z-index: 10;
  }
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1 {
  font-family: $secondaryFont;
}

p {
  font-size: 1.9rem;
  color: $marron;
}
