@import "fonts";
@import "vars";

body {
  font-family: $mainFont;
  margin: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1 {
  font-family: $secondaryFont;
}

p {
  font-size: 19px;
  color: $marron;
}
