@import "fonts";
@import "vars";
@import "header";

@import "./components/modal";
@import "./components/link";

@import "sections/hero";
@import "sections/introduction";
@import "sections/description";
@import "sections/cookies";
@import "sections/recipes";
@import "sections/season-products";
@import "sections/map";
@import "sections/mosaic";
@import "sections/informations";

@import "footer";

// temporary
body
  > section:not(.bg):not(.modals):not(.bandeau-header):not(.introduction):not(.description):not(.cookies):not(.recipes) {
  display: none;
}

footer {
  display: none;
}

html {
  font-size: 10px;

  @media screen and (max-width: $break-large) {
    font-size: 9px;
  }

  @media screen and (max-width: $break-medium) {
    font-size: 8px;
  }
}

body {
  min-width: 100vw;
  min-height: 100vh;
  position: relative;
  margin: 0;
  padding: 3.7rem 10rem 6rem 10rem;
  background-color: #fff;
  font-family: $mainFont;
  overflow-x: hidden;

  @media screen and (max-width: $break-header) {
    padding: 3rem 6rem;
  }

  @media screen and (max-width: $break-large) {
    padding: 3rem 4rem;
  }

  @media screen and (max-width: $break-medium) {
    padding: 1.5rem 3rem;
  }

  @media screen and (max-width: $break-tablet) {
    padding: 1rem 2.5rem;
  }

  &:before {
    content: "";
    width: 100%;
    height: 20%;
    position: absolute;
    top: 0;
    right: 0;
    background-image: url("../../assets/img/ellipse.png");
    background-position: top right;
    background-repeat: no-repeat;
    background-size: 34rem;
    z-index: 1;

    @media screen and (max-width: $break-large) {
      background-size: 31rem;
      left: 9rem;
    }
  }

  &.--modal-opened {
    overflow: hidden;

    > section.bg {
      opacity: 0.5;
      z-index: 100;
      transition: all 0.3s ease-in-out;
    }
  }

  > section.bg {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #000;
    opacity: 0;
    z-index: -1;
    transition: all 0.3s ease-in-out;
  }

  > section.bandeau-header {
    height: 85vh;

    @media screen and (max-width: $break-large) {
      height: 90vh;
    }

    @media screen and (max-width: $break-small) {
      height: 75vh;
    }
  }

  header,
  section,
  footer {
    position: relative;
  }

  header {
    z-index: 10;
  }
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h2 {
  margin: -2rem 0 3rem 0;
  font-size: 6.6rem;
  font-family: $secondaryFont;
  font-style: italic;
  font-weight: 300;
  line-height: 8.5rem;
  color: $marron;

  @media screen and (max-width: $break-small) {
    font-size: 5rem;
    line-height: 7rem;
  }
}

p {
  margin: 0;
  font-size: 1.9rem;
  color: $marron;
  line-height: 4rem;
}

button {
  font-family: $mainFont;
}

a {
  text-decoration: none;
}
